[data-sparql] {
  text-decoration: underline;
}

.sparql-link {
  font-family: 'fontello';
  padding: 0.5em;
  margin: 0.5em;
  color: #b50176 !important;
  font-size: 16px;
}

.sparql-link:hover {
  border-bottom: 3px solid #95cc6b;
}

.sparql-link a:hover {
  text-decoration: none;
}

.fontello {
  font-family: 'fontello';
}


h3.sparql-tooltip {
  display: block;
}

.sparql-tooltip {
  display: inline;
  position: relative;
}

.sparql-tooltip:hover:after{
  background-color: #b50176;
  opacity: 0.9;
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(data-sparql);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 400px;
  text-align: center;
}

.sparql-tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

.sparqlit-graph {
  width: 1200px;
  height: 1200px;
}

.sparqlit-graph-toggler {
  padding-right: 0.5em;
}

#sparqlit-graphmodal .modal-dialog {
  width: 1000px;
  height: 800px;
  overflow: auto;
}
